<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
    <h1>This is the EJS Demo page</h1>
</div>

name = <%= name %><br>
time = <%= time %><br>
count = <%= count %><br>
gender = <%= gender %><br>
age = <%= age_section %><br>




<%- include('bootfooter') -%>
